# Dependencies
node_modules

# Git
.git
.gitignore

# Environment files
.env
.env.local
.env.production
.env.development

# IDE
.vscode
.idea

# Logs
*.log
logs

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage

# Documentation
README.md